body,html{
    // background: red;
    background: rgba(0, 0, 0, 0);
}

.flex {
    display: flex;
}
.column{
    flex-flow: column;
}
.wrap{
    flex-wrap: wrap;
}

.acenter{
    align-items: center;
}

.NewSp{
    // background: red;
    width: 100%;
    height: 100%;
}
